<section class="header">
	<h2 class="gegatronHeader">Gegatron</h2>
	<h4 class="missionStatementHeader"> - Stories in Community - </h4>
	<nav id="navigation" class="site-navigation" role="navigation">
	  <ul class="menu">
		 <li class="menu-item">
			{{#link-to 'blog.about' classNames='aboutHeader'}}
				<h4 class="aboutHeader">About</h4>
			{{/link-to}}
		</li>
		<li class='menu-item'>
			{{#link-to 'blog.stories' classNames='storiesHeader'}}
				<h4 class="storiesHeader">Stories</h4>
			{{/link-to}}
			<ul class="dropDownList hidden">
				<li class="menu-item sub-menu">
					{{#link-to 'stories.conduits'}}
						<h4>Conduits</h4>
					{{/link-to}}		
				</li>
				<li class="menu-item sub-menu">
					{{#link-to 'stories.short-stories'}}
						<h4>Short Stories</h4>
					{{/link-to}}		
				</li>
			</ul>
		</li>
		<li class="menu-item">	
			{{#link-to 'blog.contact' classNames='contactHeader'}}
				<h4 class="contactHeader">Contact</h4>
			{{/link-to}}
		</li>
	  </ul>
	</nav>
</section>

<section class="sideBar">
	<ul class="sideBarItems">
		<li class="sideBarItem">Item 1</li>
		<li class="sideBarItem">Item 2</li>
		<li class="sideBarItem">Item 3</li>
		<li class="sideBarItem">Item 4</li>
		<li class="sideBarItem">Item 5</li>
		<li class="sideBarItem">Item 6</li>
		<li class="sideBarItem">Item 7</li>
		<li class="sideBarItem">Item 8</li>
		<li class="sideBarItem">Item 9</li>
		<li class="sideBarItem">Item 10</li>
		<li class="sideBarItem">Item 11</li>
		<li class="sideBarItem">Item 12</li>
	</ul>
</section>


<!--<section class="blogPostsContainer">
	<ul class="blogPosts">
		{{#each blog-post as |blog|}}
			<li class="blogPost">
				{{#link-to 'blog.show' blog}}
					<h1 class="blogTitle">{{blog.title}}</h1>
				{{/link-to}}
				<hr class="divider">
				<p class="blogContent">{{blog.body}}</p>
			</li>
		{{/each}}
	</ul>
</section>-->

<section class="footer">
	<h2>This is the footer</h2>
</section>


{{yield}}
