
<section class="sideBar">
	<ul class="sideBarItems">
		{{#each model as |blog|}}
			<li class="blogPost">
				{{#link-to 'blog.show' blog}}
					<h1 class="blogTitle">{{blog.title}}</h1>
				{{/link-to}}
			</li>
		{{/each}}
	</ul>
</section>


<section class="blogPostsContainer">
	{{#if session.currentUser.isAdmin}}
		{{#link-to 'blog.create'}}
				{{#paper-button raised=true target=component type='submit' classNames=' md-primary'}}New Blog Post{{/paper-button}}	
		{{/link-to}}
	{{/if}}
	<ul class="blogPosts">
		{{#each model as |blog|}}
			{{blog-preview blog=blog action='destroy'}}		
		{{/each}}
	</ul>
</section>

<section class="footer">
	<h2>This is the footer</h2>
</section>



{{yield}}
