<li class="blogPost">
	{{#link-to 'blog.show' blog}}
		<h1 class="blogTitle">{{blog.title}}</h1>
	{{/link-to}}
	<hr class="divider">
	<p class="blogContent">{{blog.body}}</p>
</li>
{{#if session.currentUser.isAdmin}}
	{{#link-to 'blog.update' blog}}
		{{#paper-button raised=true target=component type='submit' classNames=' md-primary'}}Edit{{/paper-button}}
	{{/link-to}}
	{{#paper-button raised=true target=component type='submit' classNames=' md-primary' action='destroy'}}delete{{/paper-button}}
{{/if}}