
<section class="sideBar">
	<ul class="sideBarItems">
		{{#each model as |blog|}}
			<li class="blogPost">
				{{#link-to 'blog.show' blog}
					<h1 class="blogTitle">{{model.title}}</h1>
				{{/link-to}}
			</li>
		{{/each}}
	</ul>
</section>

<section>
	<h1 class="blogTitle">{{model.title}}</h1>
	<hr class="divider">
	<p class="blogContent">{{model.body}}</p>
</section>

<section class="footer">
	<h2>This is the footer</h2>
</section>


{{yield}}
