<section class="header">
	<h2 class="gegatronHeader">Gegatron</h2>
	<h4 class="missionStatementHeader"> - Stories in Community - </h4>
	<nav id="navigation" class="site-navigation" role="navigation">
	  <ul class="menu">
		 <li class="menu-item">
			{{#link-to 'blog.about' classNames='aboutHeader'}}
				<h4 class="aboutHeader">About</h4>
			{{/link-to}}
		</li>
		<li class='menu-item'>
			{{#link-to 'blog.stories' classNames='storiesHeader'}}
				<h4 class="storiesHeader">Stories</h4>
			{{/link-to}}
			<ul class="dropDownList hidden">
				<li class="menu-item sub-menu">
					{{#link-to 'stories.conduits'}}
						<h4>Conduits</h4>
					{{/link-to}}		
				</li>
				<li class="menu-item sub-menu">
					{{#link-to 'stories.short-stories'}}
						<h4>Short Stories</h4>
					{{/link-to}}		
				</li>
			</ul>
		</li>
		<li class="menu-item">	
			{{#link-to 'blog.contact' classNames='contactHeader'}}
				<h4 class="contactHeader">Contact</h4>
			{{/link-to}}
		</li>
	  </ul>
	</nav>
</section>

<section class="sideBar">
	<ul class="sideBarItems">
		{{#each model as |blog|}}
			<li class="blogPost">
				{{#link-to 'blog.show' blog}}
					<h1 class="blogTitle">{{blog.title}}</h1>
				{{/link-to}}
			</li>
		{{/each}}
	</ul>
</section>


<section class="blogPostsContainer">
	{{#if session.currentUser.isAdmin}}
		{{#link-to 'blog.create'}}
				{{#paper-button raised=true target=component type='submit' classNames=' md-primary'}}New Blog Post{{/paper-button}}	
		{{/link-to}}
	{{/if}}
	<ul class="blogPosts">
		{{#each model as |blog|}}
			{{blog-preview blog=blog action='destroy'}}		
		{{/each}}
	</ul>
</section>

<section class="footer">
	<h2>This is the footer</h2>
</section>



{{yield}}
