
<li class="blogPost">
	{{#link-to 'stories.conduits-show' conduit}}
		<h1 class="blogTitle">{{conduit.chapter}}</h1>
	{{/link-to}}
	<hr class="divider">
	<p class="blogContent">{{conduit.chapterContent}}</p>
</li>
{{#if session.currentUser.isAdmin}}
	{{#link-to 'stories.update-conduits' conduit}}
		{{#paper-button raised=true target=component type='submit' classNames=' md-primary'}}Edit{{/paper-button}}
	{{/link-to}}
	{{#paper-button raised=true target=component type='submit' classNames=' md-primary' action='destroy'}}delete{{/paper-button}}
{{/if}}