
<section class="blogPostContainer">
	<section class="Post">
		<h1 class="blogPostTitle">{{model.chapter}}</h1>
		<hr class="divider">
		<p class="blogPostContent">{{line-breaks model.chapterContent}}</p>
		{{#link-to 'stories.conduits'}}
			{{#paper-button raised=true target=component type='submit' classNames=' md-primary'}}Back{{/paper-button}}
		{{/link-to}}
	</section>
</section>

<section class="footer">
	<h2>This is the footer</h2>
</section>

{{yield}}


{{yield}}
