<section class="header">
	<h2 id="title">This is the header</h2>
</section>

<form {{action 'authenticate' on='submit'}}>
	{{paper-text label="Username" value=Username value=identification classNames='userNameLogin'}}
	<!--<input class="userNameLogin" text="text" name="userName" placeholder="UserName">-->
	{{paper-text label="Password" type="password" value=password classNames='passwordLogin'}}
	<!--<input class="passwordLogin" text="text" name="password" placeholder="Password">-->
	{{#paper-button raised=true target=component type='submit' classNames='loginButton md-primary'}}Login{{/paper-button}}
	<!--<input class="loginButton" type="submit" value="Login">-->
</form>

<h3>Don't have an accout?</h3>
{{#link-to 'users.create'}}
{{#paper-button raised=true target=component type='submit' classNames='loginButton md-primary'}}Sign up!{{/paper-button}}
{{/link-to}}
<section class="footer">
	<h2>This is the footer</h2>
</section>


{{yield}}
