
<form {{action 'authenticate' on='submit'}}>
	{{paper-text label="Username" value=Username value=identification classNames='userNameLogin'}}
	{{paper-text label="Password" type="password" value=password classNames='passwordLogin'}}
	{{#paper-button raised=true target=component type='submit' classNames='loginButton md-primary'}}Login{{/paper-button}}
</form>

<h3 class="sign-up-header">Don't have an accout?</h3>
{{#link-to 'users.create'}}
{{#paper-button raised=true target=component type='submit' classNames='loginButton md-primary'}}Sign up!{{/paper-button}}
{{/link-to}}
<section class="footer">
	<h4 class="copyright">Copyright © 2005-2015 Gegatron. All Rights Reserved.</h4>
</section>


{{yield}}
