
<section class="blogPostContainer">
	<section class="Post">
		<h1 class="blogPostTitle">{{model.title}}</h1>
		<hr class="divider">
		<p class="blogPostContent">{{line-breaks model.Body}}</p>
		{{#link-to 'blog.home'}}
			{{#paper-button raised=true target=component type='submit' classNames=' md-primary'}}Back{{/paper-button}}
		{{/link-to}}
	</section>
</section>

<section class="footer">
	<h4 class="copyright">Copyright © 2005-2015 Gegatron. All Rights Reserved.</h4>
</section>
{{log model}}




{{yield}}
