
<section class="sideBar">
	<ul class="sideBarItems">
		<li class="sideBarItem">Item 1</li>
		<li class="sideBarItem">Item 2</li>
		<li class="sideBarItem">Item 3</li>
		<li class="sideBarItem">Item 4</li>
		<li class="sideBarItem">Item 5</li>
		<li class="sideBarItem">Item 6</li>
		<li class="sideBarItem">Item 7</li>
		<li class="sideBarItem">Item 8</li>
		<li class="sideBarItem">Item 9</li>
		<li class="sideBarItem">Item 10</li>
		<li class="sideBarItem">Item 11</li>
		<li class="sideBarItem">Item 12</li>
	</ul>
</section>


<section class="blogPostsContainer">
	<h1 class="blogTitle">{{model.title}}</h1>
	<hr class="divider">
	<p class="blogContent">{{model.Body}}</p>
</section>

<section class="footer">
	<h2>This is the footer</h2>
</section>




{{yield}}
