
<li class="blogPost">
	{{#link-to 'stories.short-story-show' short}}
		<h1 class="blogTitle">{{short.title}}</h1>
	{{/link-to}}
	<hr class="divider">
	<p class="blogContent">{{short.Body}}</p>
</li>
{{#if session.currentUser.isAdmin}}
	{{#link-to 'stories.update-short-stories' short}}
		{{#paper-button raised=true target=component type='submit' classNames=' md-primary'}}Edit{{/paper-button}}
	{{/link-to}}
	{{#paper-button raised=true target=component type='submit' classNames=' md-primary' action='destroy'}}delete{{/paper-button}}
{{/if}}