<li class="story-board-image">
	<div class="thumbnail-container">
		{{#link-to 'blog.show' blog}}
			<h1 class="story-board-image-title">{{image.filename}}</h1>
		{{/link-to}}
		<hr class="divider">
		<img class="story-board-thumbnail" src='{{image.url}}'>
	</div>
</li>