<li class="story-board-image">
	{{#link-to 'blog.show' blog}}
		<h1 class="blogTitle">{{model.image.filename}}</h1>
	{{/link-to}}
	<hr class="divider">
	<p class="blogContent">{{model.image.url}}</p>
</li>