	<div class="full-image">
		<h1 class="image-title">{{model.filename}}</h1>
		<hr class="image-divider">
		<img class="story-board-image-show" src='{{model.url}}'>
		{{#link-to 'users.current'}}
			{{#paper-button raised=true target=component type='submit' classNames='image-show-back-button md-primary'}}Back{{/paper-button}}
		{{/link-to}}
	</div>

<section class="footer">
	<h4 class="copyright">Copyright © 2005-2015 Gegatron. All Rights Reserved.</h4>
</section>