
<section class="sideBar">
	<ul class="sideBarItems">
{{#each model as |short|}}
			<li class="blogPost">
				{{#link-to 'stories.short-story-show' short}}
					<h1 class="blogTitle">{{short.title}}</h1>
				{{/link-to}}
			</li>
		{{/each}}
	</ul>
</section>


<section class="blogPostsContainer">
	{{#if session.currentUser.isAdmin}}
		{{#link-to 'stories.short-story-create'}}
				{{#paper-button raised=true target=component type='submit' classNames=' md-primary'}}New Chapter{{/paper-button}}	
		{{/link-to}}
	{{/if}}
	<ul class="blogPosts">
			{{#each model as |short|}}
				{{short-story-preview short=short action='destroy'}}		
			{{/each}}
	</ul>
</section>

<section class="footer">
	<h4 class="copyright">Copyright © 2005-2015 Gegatron. All Rights Reserved.</h4>
</section>

{{yield}}
