	<div class="full-image">
		<h1 class="image-title">{{image.filename}}</h1>
		<hr class="divider">
		<img class="story-board-image" src='{{image.url}}'>
	</div>

<section class="footer">
	<h4 class="copyright">Copyright © 2005-2015 Gegatron. All Rights Reserved.</h4>
</section>