<section class="header">
	{{#link-to 'landing'}}
		<h2 class="gegatronHeader">Gegatron</h2>
	{{/link-to}}
	<h4 class="missionStatementHeader"> - Stories in Community - </h4>
	<nav id="navigation" class="site-navigation" role="navigation">
	  <ul class="menu">
		 <li class="menu-item">
			{{#link-to 'blog.about' classNames='aboutHeader'}}
				<h4 class="aboutHeader">About</h4>
			{{/link-to}}
		</li>
		<li class='menu-item'>
			<h4 class="storiesHeader">Stories</h4>
			<ul class="dropDownList hidden">
				<li class="menu-item sub-menu">
					{{#link-to 'stories.conduits'}}
						<h4>Conduits</h4>
					{{/link-to}}		
				</li>
				<li class="menu-item sub-menu">
					{{#link-to 'stories.short-stories'}}
						<h4>Short Stories</h4>
					{{/link-to}}		
				</li>
			</ul>
		</li>
		<li class="menu-item">	
			{{#link-to 'blog.contact' classNames='contactHeader'}}
				<h4 class="contactHeader">Contact</h4>
			{{/link-to}}
		</li>
	  </ul>
	</nav>
</section>

<h1>Hello {{model.name}}</h1>
{{#if session.isAuthenticated}}
	{{#paper-button raised=true target=component type='submit' classNames='loginButton md-primary' action='invalidateSession'}}Log Out{{/paper-button}}
{{/if}}
{{yield}}
