
<h1>Hello {{model.name}}</h1>
{{#if session.isAuthenticated}}
	{{#paper-button raised=true target=component type='submit' classNames='loginButton md-primary' action='invalidateSession'}}Log Out{{/paper-button}}
	{{#link-to 'sumo-paint'}}
		{{#paper-button raised=true target=component type='submit' classNames='loginButton md-primary'}}Paint!{{/paper-button}}
	{{/link-to}}
	{{#link-to 'picture-create'}}
		{{#paper-button raised=true target=component type='submit' classNames='loginButton md-primary'}}Upload Pictures{{/paper-button}}
	{{/link-to}}
{{/if}}

{{yield}}
