// override ember-paper
html, body {
  background: none;
}

body {
  padding-top: 78px;
  padding-bottom: 78px;
  font-family: $base-font-family;
  font-size: 20px;
  // background-color: #212121;
  background-color: #f5f5f5;
  // color: $very-light-gray;
  color: #000000;
  @include media(max-width 400px) {
    font-size: 10px;
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: #f5f5f5;
    color: #000000;
  }
}

.userNameLogin {
  @include span-columns(4);
  @include shift(4);
  height: 50px;
  border-radius: 10px;
  margin-top: 200px;
  margin-bottom: 35px;
  font-size: 30px;
  text-align: center;
}

.passwordLogin {
  @include span-columns(4);
  @include shift(4);
  height: 50px;
  border-radius: 10px;
  margin-bottom: 35px;
  font-size: 30px;
  text-align: center;
}

.loginButton {
  @include span-columns(2);
  @include shift(5);
  height: 30px;
  border-radius: 10px;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #000000;
  @include span-columns(12);
  z-index: 999;
  @include media(max-width 400px) {
    color: $very-light-gray;
  }
}

.create-new-button {
  margin-right: 48px;
}

a {
  text-decoration: none;
  color: #000;
}

.sumo-paint {
  @include span-columns(12);
  height: 1010;
  // width="1854" height="1010"
}

.image-upload-form {
  @include span-columns(3);
  @include shift(5);
  margin-bottom: 15px;
}