// override ember-paper
html, body {
  background: none;
}
//

body {
  padding-top: 78px;
  padding-bottom: 78px;
  font-family: $base-font-family;
  font-size: 20px;
  background-color: #f5f5f5;
  color: #000000;
  @include media(max-width 400px) {
    font-size: 10px;
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: #f5f5f5;
    color: #000000;
  }
}

.create-new-button {
  margin-right: 48px;
}

a {
  text-decoration: none;
  color: #000;
}

.sumo-paint {
  @include span-columns(12);
  height: 1010;
}

.image-upload-form {
  @include span-columns(3);
  @include shift(5);
  margin-bottom: 15px;
}