.blogPostsContainer {
  @include span-columns(8);
  padding-bottom: 78px;
  background-color: #fafafa;
  border-radius: 10px;
  @include media(max-width 640px) {
    @include span-columns(10);
    @include shift(1);
    padding-bottom: 42px;
    background-color: #fafafa;
  }
  
  .blogPosts {
    list-style: none;
    @include media(max-width 640px) {
      padding: 1px 0px 1px 0px;
    }
  }
  
  .blogPost {
    margin-top: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 48px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    @include media(max-width 640px) {
      padding: 1px 10px 1px 10px;
      margin: 0 10px 5px 10px;
      background-color: #ffffff;
    }
  }
  
  .blogTitle {
    padding: 20px 10px 0px 10px;
    text-decoration: none;
    background-color: #ffffff;
    @include media(max-width 400px) {
      padding: 0px 10px 0px 10px;
    }
  }
  
  h1.blogTitle:hover{
    color: #3F51B5;
  }
  
  .divider {  
    border-bottom: 2px solid  #3F51B5;
  }
  
  .blogContent {
    padding: 10px 50px 10px 50px;;
    line-height: 25px;
    max-height: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    @include media(max-width 640px) {
      padding: 1px 10px 1px 10px;
      max-height: 100px;
    }
  }
}