/////////Header//////////
.header {
  position:fixed;
  left:0px;
  top:0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #000000;
  @include span-columns(12);
  z-index: 999;
  
  .gegatronHeader {
    margin-top: 7px;
    margin-left: 10px;
    @include span-columns(1);
  }
  
  .missionStatementHeader {
    color: $very-light-gray;
    text-decoration: none;
    @include span-columns(2);
  }
  
  .headerList {
    list-style: none;
  }
  
  .header-logout-button {
    margin-top: 7px;
  }
}
///////////////////////////////////

//////////Nav Styling//////////////
nav {
  align-content: center;
  @include span-columns(4);
  @include shift(4);
}

site-navigation {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.site-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.site-navigation li {
  color: $very-light-gray;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 0 12px 0 12px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
  
.site-navigation li a {
  color: $very-light-gray;
  text-decoration: none;
  display: block;
}

.site-navigation li:hover {
	@include transition(background, 0.2s);
	cursor: pointer;
}

.site-navigation ul li ul {
	visibility: hidden;
  background-color: #000000;
  padding-left: 5px;
	float: left;
	position: absolute;
  transition: visibility 0.65s ease-in;
	left: 0;
	// z-index: 999;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
   background-color: #000000;
}

.site-navigation ul li ul li {
	clear: both;
  background-color: #000000;
	padding: 5px 0 5px 0px;
  // width: 100%;
}

.site-navigation ul li ul li:hover {
	background: #74b7e4;
}
.sub-menu {
  width: 150px;
}
//////////////////////////////////