/////////Header//////////
.header {
  position:fixed;
  left:0px;
  top:0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #000000;
  @include span-columns(12);
  z-index: 999;
  
  .gegatronHeader {
    margin-top: 14px;
    margin-left: 10px;
    @include span-columns(1);
    @include shift(2);
    @include media(max-width 400px) {
      @include span-columns(2);
      @include shift(1);
      margin-top: 9px;
    }
  }
  
  .missionStatementHeader {
    color: $very-light-gray;
    text-decoration: none;
    @include span-columns(2);
    @include media(max-width 400px) {
      display: none;
    }
  }
  
  .headerList {
    list-style: none;
  }
  
  .header-logout-button {
    margin-top: 15px;
    @include media(max-width 400px) {
      display: none;
    }
  }
  
  .home-button {
    @include span-columns(1);
    @include media(max-width 400px) {
      display: none;
    }
  }
}
///////////////////////////////////

//////////Nav Styling//////////////
nav {
  align-content: center;
  @include span-columns(4);
  @include shift(2);
  @include media(max-width 400px) {
      @include span-columns(8);
      @include shift(1);
    }
}

site-navigation {
	display: block;
	font-size: 16px;
	font-weight: bold;
  @include media(max-width 400px) {
    font-size: 10px;
  }
}

.site-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.site-navigation li {
  color: $very-light-gray;
	display: block;
	float: left;
	// margin: 0 2px 0 0;
	padding: 0 12px 0 12px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
  @include media(max-width 400px) {
    display: inline-block;
    padding: 0 0px 0 12px;
  }
}
  
.site-navigation li a {
  color: $very-light-gray;
  text-decoration: none;
  display: block;
  padding-left: 10px;
}

.site-navigation li:hover {
	@include transition(background, 0.2s);
	cursor: pointer;
}

.site-navigation ul li ul {
	visibility: hidden;
  background-color: #000000;
	float: left;
	position: absolute;
  transition: visibility 0.65s ease-in;
	left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
   background-color: #000000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.site-navigation ul li ul li {
	clear: both;
  background-color: #000000;
	padding: 5px 0 5px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.site-navigation li a :hover {
	color: #74b7e4;

}
.sub-menu {
  width: 150px;
  font-size: 15px;
  @include media(max-width 400px) {
    width: 55px;
  }
}
//////////////////////////////////