.user-Name-Login {
  @include span-columns(4);
  @include shift(5);
  height: 50px;
  border-radius: 10px;
  margin-top: 200px;
  margin-bottom: 35px;
  font-size: 30px;
}

.email-login {
  @include span-columns(4);
  @include shift(5);
  height: 50px;
  border-radius: 10px;
  margin-bottom: 35px;
  font-size: 30px;
}

.password-Login {
  @include span-columns(4);
  @include shift(5);
  height: 50px;
  border-radius: 10px;
  margin-bottom: 35px;
  font-size: 30px;
}