@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import 'bower_components/neat/app/assets/stylesheets/neat';
@import 'ember-paper';


// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

// override ember-paper
html, body {
  background: none;
}

body {
  padding-top: 78px;
  padding-bottom: 78px;
  font-family: $base-font-family;
  background-color: #333333;
  color: $very-light-gray;
}

.header {
  position:fixed;
  left:0px;
  top:0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #444444;
  @include span-columns(12);
  
  .gegatronHeader {
    margin-left: 10px;
    @include span-columns(2);
    @include omega;
  }
  
  .missionStatementHeader {
    @include span-columns(3);
    @include omega;
  }
  
  .headerList {
    list-style: none;
  }
  
  .aboutHeader {
    @include shift(3);
    @include span-columns(1);
    color: $very-light-gray;
    text-decoration: none;
  }
  
  .storiesHeader, menu-item {
    @include span-columns(1);
    text-decoration: none;
    color: $very-light-gray;
    position: relative;
  }
  
  .contactHeader {
    @include span-columns(1);
    text-decoration: none;
    color: $very-light-gray;
  }
}
//////////Nav Styling//////////////
site-navigation {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 40px;
}

.site-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.site-navigation li {
  color: $very-light-gray;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 12px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
  
.site-navigation li a {
  color: $very-light-gray;
  text-decoration: none;
  display: block;
}

.site-navigation li:hover {
	@include transition(background, 0.2s);
	cursor: pointer;
}

.site-navigation ul li ul {
	visibility: hidden;
  background-color: #444444;
	float: left;
  // min-width: 150px;
	position: absolute;
  transition: visibility 0.65s ease-in;
  margin-top: 50px;
	left: 0;
	z-index: 999;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
   background-color: #444444;
}

.site-navigation ul li ul li {
	clear: both;
  background-color: #444444;
	padding: 5px 0 5px 18px;
  // width: 100%;
}

.site-navigation ul li ul li:hover {
	background: #74b7e4;
}
//////////////////////////////////

.login {
  text-align: center;
  @include span-columns(6);
}

.userNameLogin {
  @include span-columns(4);
  @include shift(4);
  height: 50px;
  border-radius: 10px;
  margin-top: 200px;
  margin-bottom: 35px;
  font-size: 30px;
  text-align: center;
}

.passwordLogin {
  @include span-columns(4);
  @include shift(4);
  height: 50px;
  border-radius: 10px;
  margin-bottom: 35px;
  font-size: 30px;
  text-align: center;
}

.loginButton {
  @include span-columns(2);
  @include shift(5);
  height: 30px;
  border-radius: 10px;
}

.view {
    text-align: center;
    @include span-columns(6);
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #444444;
  @include span-columns(12);
  @include outer-container();
}

.sideBar {
  @include span-columns(2);
  list-style: none;
  
  .sideBarItems {
    padding: 20px;
    background-color: #555555;
    border-radius: 10px;
    list-style: none;
  }
  
  .sideBarItem {
    margin-bottom: 15px;
    margin-right: 48px;
  }
}


.blogPostsContainer {
  @include span-columns(9);
  
  .blogPosts {
    list-style: none;
  }
  
  .blogPost {
    padding-right: 20px;
    background-color: #555555;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 48px;
    max-height: 300px;
    overflow: hidden;
  }
  
  .blogTitle {
    padding: 10px;
  }
  
  .divider {  
    border-bottom: 2px solid  #91C3DC;
  }
  
  .blogContent {
    padding: 10px;
  }
  
  .blogData {
    padding: 10px;
  }
}

////////////about page////////////////

.aboutContainer {
  @include span-columns(10);
  @include shift(1);
  padding-right: 20px;
  background-color: #555555;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 48px;
}