@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import 'bower_components/neat/app/assets/stylesheets/neat';



// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  padding-top: 78px;
  padding-bottom: 78px;
  font-family: $base-font-family;
  background-color: #333333;
  color: $very-light-gray;
}

.header {
  position:fixed;
  left:0px;
  top:0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #444444;
  @include span-columns(12);
}

.login {
  text-align: center;
  @include span-columns(6);
}

.view {
    text-align: center;
    @include span-columns(6);
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #444444;
  @include span-columns(12);
}

.blogPosts {
  list-style: none;
  
  .blogPost {
    background-color: #555555;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 48px;
  }
}