
<section class="aboutContainer">
	<section class="abouts">
		<h1 class="aboutHeader">Mission Statement:</h1>
		<hr class="divider">
		<h2 class="aboutHeaderComment">Gegatron exists to create community that encourages quality storytelling and creativity in the science fiction and fantasy genres.</h2>
		<hr class="divider">
		<p>We love stories. That is the basis of who we are. It 		doesn’t matter if they come in the form of books, movies, art, dance, 			theatre, song or some other genre I have left out, we love them all. We 		love the way that a good story can take you out of this world and place you 	some where completely different. We love stories that make us question what 	we believe and how we think. We love stories that lead to hours of 				discussion and bring us closer together as friends. We want to create these 	types of stories.<br>
			<br>
			And we want to share them with you.<br>
			<br>	
			Currently, Gegatron is run by three individuals that you will come to know as geggiskhan, bingo, and damselyse. We are all big fat geeks. We have noticed recently that though there are some truly incredible things available to us through network T.V. and companies like Marvel or TOR, we are enjoying some of the things we discover on-line even more. There are hundreds of talented people in the world that will never get published just because they don’t know the right people; artwork that will never get shown because someone decided illustrations aren’t what sell well in galleries. We want to help bring these stories to the world.<br>
			<br>
			Gegatron is a place that we can try new things that have never been done; a place that stories can be told without someone tweaking them to help make them “sell” better. We wanted a place where we could share our work with the world even if it isn’t what typically sells, and we want to give other people this opportunity as well someday soon. Right now it is just the three of us and we are messily figuring out how to make everything work, but soon we hope to bring others in and create a community that can encourage each other to be better at the things we love doing.<br>
			<br>
		</p>
		<hr class="divider">
		<br>		
		<h1 class="aboutHeader">Bios:</h1>
		<h2>Damselyse:</h2>
		<hr class="divider">
		<p>
			When I was growing up my parents would sit and read to me by the door every night. My mom read me Charlotte’s Web and Stuart Little which were wonderful. But my Dad, oh my Dad read me The Princess Bride and 1001 Arabian Nights. Those are the books that I loved. I wanted knights, adventure and magic. Then as I got older he started pulling some of his favorite books down off of the shelves for me to read. Thus I discovered Terry Brooks, J.R.R. Tolkien, and Stephen Donaldson. As I devoured the books already in our house I found that more and more of my time and money was spent at bookstores, mainly in the sci-fi/fantasy section.<br>
			<br>
			I also remember taking the covers off of my hardback books so that no one would see what I was reading in school. I remember holding books inside binders or keeping them flat on the table so that people wouldn’t make fun of me. I was the kid who won all the reading contests in school and got all
			the prizes for summer reading from the library. My love for fantasy forever will be rooted in books and I am so glad that I don’t have to feel ashamed of the things that I enjoy anymore.<br>
			<br>
			That’s why I am excited about Gegatron. Because just like people told me I was reading the wrong books, teachers used to tell me I was writing the wrong kinds of stories. We wrote plenty of essays and personal journal entries, but once I was out of elementary school I was never encouraged to write creatively again. But I did it anyway. I would write stories in Math class in 8th grade and pass them to my friend to read when she was bored. Later in life I spent most of my college computer class doing research on elemental magic for what I hope will be my first novel. It really didn’t matter what I was supposed to be doing, I couldn’t let fantasy go.<br>
			<br>
			So now I’m an adult. I’ve spent the last three or four years doing what I was supposed to be doing, working boring jobs for awful pay. I still read my books and wrote my stories when I thought I could get away with it, but then everything changed. Geggiskhan, Bingo, and I decided that we didn’t want to just get by in life, doing things we hate. We want to do what we love and see what happens. So we are. And for the first time in my life I am free to enjoy whatever I like, and get to share it with other people who may feel the same way I do.<br>
			<br>
		</p>
		<h2>GeggisKhan:</h2>
		<hr class="divider">
		<p>
			In first grade I found that I was not a big fan of reading. In fact, I found it so loathsome that I may have had the privilege of doing first grade twice. It was not until third grade that my Mom brought Bruce Coville’s Aliens Ate My Homework home from the library. With this, I finally realized that stories could have adventure and depth, that you could care about fictional people nearly as much as you do the real ones. This little taste was my gateway drug in to Goosebumps and Animorphs, both of which I devoured. By the age of twelve I was fearlessly tackling the Hobbit and Tad Williams’ Otherland.<br>
			<br>
			Needless to say, this love for Scifi/Fantasy had me spending more time in made up realms than the real ones. This is why, when I was at college, it only made sense for me to join up with some of the local Improv Troupes. Doing Improv I learned two valuable lessons. First, story is king. Never do anything that will sacrifice the story of the scene that you have created. Second, there are no minor characters. Your big action heroes always need their big villians, but even more so they need the mindless minions and the people silently walking down the street. Every one of these seemingly inconsequential peripheral people has a story all their own. A janitor is never just a janitor and a receptionist is always more than he or she seems. This allows a world to have unfathomable depth. With this knowledge, I plan to launch a conquest of your hearts as I try to make you love our characters just as much as we do.<br>
			<br>
		</p>
		<hr class="divider">
		<br>
	</section>
</section>

<section class="footer">
	<h4 class="copyright">Copyright © 2005-2015 Gegatron. All Rights Reserved.</h4>
</section>
{{outlet}}
