<!--<section class="blogPostsContainer">
	<section class="abouts">
		<h1 class="contactHeaderComment">Connect with us!</h1>


	</section>
</section>-->

<section class="blogPostContainer">
	<section class="Post">
		<h1 class="blogPostTitle contactHeaderComment">Connect with us!</h1>
		<hr class="divider">
		<p class="blogPostContent contact-icons">
			<a href="https://github.com/Jonothompson?tab=repositories"><i class="fa fa-github-square"></i></a>
			<a href="https://instagram.com/the_gegatron/"><i class="fa fa-instagram"></i></a>
			<a href="https://www.facebook.com/gegatron"><i class="fa fa-facebook-square"></i></a>
		</p>
				<h1 class="contactHeaderComment">Email us: Jonathanleighthompson@gmail.com</h1>
	</section>
</section>

<section class="footer">
	<h4 class="copyright">Copyright © 2005-2015 Gegatron. All Rights Reserved.</h4>
</section>
{{outlet}}