<section class="header">
	<h2 id="title">This is the header</h2>
</section>

<ul class="blogPosts">
	<li class="blogPost">
		<h1>Title 1</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
	<li class="blogPost">
		<h1>Title 2</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
	<li class="blogPost">
		<h1>Title 3</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
	<li class="blogPost">
		<h1>Title 4</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
	<li class="blogPost">
		<h1>Title 5</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
	<li class="blogPost">
		<h1>Title 6</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
	<li class="blogPost">
		<h1>Title 7</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
	<li class="blogPost">
		<h1>Title 8</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
	<li class="blogPost">
		<h1>Title 9</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
	<li class="blogPost">
		<h1>Title 10</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum harum magnam neque porro, dicta minus debitis. Eveniet iure explicabo unde qui illo tempore reiciendis praesentium labore porro soluta!</p>
		<h4>some extra stuff</h4>
	</li>
</ul>

<section class="footer">
	<h2>This is the footer</h2>
</section>

{{outlet}}