<section class="header">
	<h2 id="title">This is the header</h2>
</section>

<form action="">
	<input class="userNameLogin" text="text" name="userName" placeholder="UserName">
	<input class="passwordLogin" text="text" name="password" placeholder="Password">
	<input class="loginButton" type="submit" value="Login">
</form>

<section class="footer">
	<h2>This is the footer</h2>
</section>

{{outlet}}
