<section class="header">
	<h2 id="title">This is the header</h2>
</section>

<form action="">
	<input text="text" name="userName">
	<input text="text" name="password">
	<input type="submit" value="Login">
</form>

<form>
	<input type="submit" value="View">
</form>

<section class="footer">
	<h2>This is the footer</h2>
</section>

{{outlet}}
