<section class="landing-page-container">	
	<img class="landing-logo" src='images/Gegatron logo illustrator final.png'>	
	<h4 class="missionStatementLanding"> - Stories in Community - </h4>
	{{#link-to 'sessions.create' classNames="login"}}
			{{#paper-button raised=true target=component type='submit' classNames=' md-primary login-button'}}Log In{{/paper-button}}
	{{/link-to}}
	{{#link-to 'blog.home' classNames="view"}}
			{{#paper-button raised=true target=component type='submit' classNames=' md-primary view-button'}}View{{/paper-button}}
	{{/link-to}}
</section>


{{outlet}}
