<section class="header">
	<h2 id="title">This is the header</h2>
</section>

{{#link-to 'sessions.create' classNames="login"}}
	<button>Login</button>
{{/link-to}}


{{#link-to 'blog.home' classNames="view"}}
	<button>View</button>
{{/link-to}}

<section class="footer">
	<h2>This is the footer</h2>
</section>


{{outlet}}
