<section class="landing-page-container">
	{{#link-to 'sessions.create' classNames="login"}}
			{{#paper-button raised=true target=component type='submit' classNames=' md-primary login-button'}}Log In{{/paper-button}}
	{{/link-to}}
	
	<img class="landing-logo" src='../images/Gegatron logo illustrator final.png'>
	
	{{#link-to 'blog.home' classNames="view"}}
			{{#paper-button raised=true target=component type='submit' classNames=' md-primary view-button'}}View{{/paper-button}}
	{{/link-to}}
</section>


{{outlet}}
