<section class="sumo-paint">
	<object data="http://www.sumopaint.com/flash/sumopaint.swf?target=https://QVo3ALQG1RDvtcyhflvJvI47C2LyWBF8Zs6lsOvx:javascript-key=xnz0S08vfczcNIXaXYfE8BlfacpTuKYI3900Gr3W@api.parse.com/1/functions/receiveSumoPaint" width="100%" height="1010"></object>
</section>
{{outlet}}
